/* mypost.css */

.property-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .property-card {
    width: calc(33.33% - 10px); /* Adjust based on your layout */
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .property-image {
    height: 200px;
    overflow: hidden;
  }
  
  .property-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .property-details {
    padding: 10px;
  }
  
  .property-name h2 {
    margin: 0;
  }
  
  .property-price p {
    margin: 5px 0 0;
  }
  
  /* Responsive styles */
  
  @media screen and (max-width: 768px) {
    .property-card {
      width: calc(50% - 10px); /* Two columns on smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .property-card {
      width: 100%; /* Single column on even smaller screens */
    }
  }
  