.property-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.property-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.property-name-box, .property-price-box {
  margin-bottom: 20px;
}

.property-name {
  font-size: 24px;
  font-weight: bold;
}

.property-description-box {
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.property-description {
  font-size: 16px;
  color: #555;
}

.property-price {
  font-size: 20px;
  color: #000;
}

.interested-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.interested-button:hover {
  background-color: #0056b3;
}

.seller-details {
  margin-top: 20px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.seller-details h3 {
  margin-bottom: 10px;
}

.seller-details p {
  margin: 5px 0;
}

.additional-attributes {
  width: 100%;
  margin-top: 20px;
}

.additional-attributes p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}
