.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.snackbar.error {
  background-color: #d32f2f;
}

.snackbar.success {
  background-color: #4caf50;
}

.snackbar.closed {
  opacity: 0;
}
