@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat' ,sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0f2f5;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #0056b3;
}

.title {
  margin-bottom: 1rem;
  color: #333;
}

/* Existing CSS */

.nav-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.nav-link {
 
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0056b3;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-left .navbar-brand,
.navbar-right .navbar-link {
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.navbar-left .navbar-brand:hover,
.navbar-right .navbar-link:hover {
  text-decoration: underline;
}

/* New CSS for Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }

  .navbar-right.active {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px 20px;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
  }
}


.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}





@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    margin-top: 10px;
  }

  .search-bar input {
    width: 100%;
  }

  .property-item {
    width: 100%;
  }
}


.property-list {
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.property-item {
  background-color: #f9f9f9;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  height: 200px;
}

.property-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width:300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 200px;
  width: 100%;
  position: relative;
}

.property-image {
  width: 100%;
  height: 200px;
}

.like-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.property-details {
  padding: 10px;
}

.property-name {
  margin: 0 0 8px 0;
  font-size: 1.25em;
}

.property-price {
  margin: 0;
  color: #888;
}



.interested-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.interested-button.interested-sent {
  background-color: green;
  cursor: not-allowed;
}










